# Ambiente virtual Python
venv/
.venv/
env/

# Cache / artefatos do Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Variáveis de ambiente e segredos locais
.env
*.local
k8s/secrets.yaml
certs/*.pem

# Sistema operacional / editores
.DS_Store
.idea/
.vscode/
